[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
matplotlib = "*"
seaborn = "*"
librosa = "*"
keras = "*"
tensorflow = "*"
wave = "*"
pysoundfile = "*"
mutagen = "*"

[requires]
python_version = "3.7"
